* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.Logo h2 {
    font-size: 45px;
    font-weight: 900;
    /* color: #333333; */
}

nav .menu {
    display: flex;
    gap: 51px;
    list-style: none;
    align-items: center;
}

nav .menu a {
    text-decoration: none;
    font-size: 20px;
    font-weight: 600;
    color: #474747;

}

.btn {
    background-color: #FD6E0A;
    color: #FFFFFF;
    border: none;
    padding: 18px 35px;
    border-radius: 5px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.color-orange {
    color: #FD6E0A;
}


.open-sans {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;

}

header {
    background-color: #FFF8F3;
    background: url(../images/developer.png), url(../images/header_bg.png)#FFF8F3;
    background-position: top left, bottom right;
    padding-top: 50px;
    background-repeat: no-repeat;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0px auto;
}

#banner {
    /* border: 1px solid red; */
    margin: 47px 20px 0 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .baner-contain {
    max-width: 585px;
}

#banner .baner-contain h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .baner-contain h1 {
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}

#banner .baner-contain p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
}

.banner-image img {
    max-width: 585px;
    vertical-align: middle;
}